
<h3>You did it! You registered!</h3>

<h1>Hi {{ name }}! You're successfully registered to the most beautifull website of the world</h1>

Pour valider votre inscription sur le plus beau site du monde, cliquez sur ce lien:
<a href="{{ url }}">{{ url }}</a>

Thanks!

<img src="{{ image }}" alt="Image Description">
